@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tanha";
  src: url("../font/Tanha.woff2") format("woff2"),
    url("../font/Tanha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

